@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Our Talented Chefs</h1>
    <partial name="_Chefs"></partial>

    <hr/>

    <h1 class="display-4">Our Tasty Dishes</h1>
    <partial name="_Dishes"></partial>
</div>
